<% if @user.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= t ".p_content" %> <%= pluralize(@user.errors.size, t(".p_content1")) %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
